<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue实例：添加删除元素r</title>
</head>
<body>
	<div id="app">
	
		<input type="checkbox" v-model="selected" value="aaa"  @click="clickAlert" /> aaa 
	
	
		<input type="checkbox" v-model="selected" value="bbb"  @click="clickAlert"/> bbb 
	
		<input type="checkbox" v-model="selected" value="ccc"  @click="clickAlert"/> ccc 
	
		<input type="checkbox" v-model="selected" value="ddd"  @click="clickAlert"/> ddd 

	
	<pre>{{ selected | json }}</pre>
</div>

</body>
<script src="dist/js/vue.js"></script>
<script type="text/javascript">
  	new Vue({
	el:'#app',
	data:{
		selected:[]
	},
  methods: {
  	clickAlert: function(){
      var self = this;
      setTimeout(function(){
      	console.log(self.selected);
      },0)
  	}
  }
})
</script>
</html>
