/*公共代码*/
*{margin: 0; padding:0;font-family: "Microsoft Yahei";}
body,input,button,textarea,select,option,optgroup{font:14px/1.5  "Microsoft Yahei", "Hiragino Sans GB", sans-serif;line-height: 20px;color: #666;margin: 0; padding:0;font-family: "Microsoft Yahei";}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{ margin:0; padding:0; border:none; list-style-type:none;font-family: "Microsoft Yahei";}
body{ position: relative;}
h1, .hgroup h2, h2, h3, h4, h5, h6 {font-size: 100%;}
ul,li{ list-style:none;}
button, input {line-height: normal;outline:none;border:0;}
a, a:hover,a:link,a:visited,a:active {text-decoration: none;cursor: pointer;}
a:focus{text-decoration: none;outline-style:none; -moz-outline-style: none;}
/*a{color:#FFF;}*/
body{background: #F6F6F6;}
/*@font-face {  font-family: PingFang-SC-Medium;  src: url('../../css/PINGFANGMEDIUM.TTF');font-weight: normal;font-style: normal; }
@font-face {  font-family: PingFang-SC-Bold;  src: url('../../css/PINGFANGBOLD.TTF');font-weight: normal;font-style: normal; }
@font-face {  font-family: PingFang-SC-Extralight;  src: url('../../css/PINGFANGEXTRALIGHT.TTF');font-weight: normal;font-style: normal; }*/

/*//调整头部*/


.new-header-btn-ul{
    position: relative;
    z-index: 10;
    background:#dc4437;
    height: 40px;
}
.new-header-btn-ul span{
    display: inline-block;
    margin-top:10px;
    color: #FFFFFF;
}
.new-header-btn-ul li a{
    padding:7px 10px;
    font-size: 14px!important;
}
/*//底部*/
#new-footer{width: 100%;height:200px;position: relative;background:#FFFFFF;min-width: 1200px;color: #666666;}
#new-footer>img{width: 100%;position: absolute;top: 0;left: 0;}
.footer-top{width:100%;min-width: 900px;}
.footer-mainn{margin: auto;position: relative;z-index: 2;background-color:#FFFFFF;}
.footer-bottom{width: 100%;min-width: 900px;text-align:center;height:55px;position:relative;padding-top: 40px;}
.footer-bottom ul{min-width:305px;position:absolute;left:50%;transform:translateX(-50%);}
.footer-bottom ul>li{float: left;margin-right:2%;cursor: pointer;}
.footer-bottom ul>li a{color: #666666;font-size: 12px;}
.footer-bottom ul>li a:hover{color: #4385F5;}
.footer-top{text-align: center;margin-top:8px;font-size: 12px;}
.footer-top span{color: #ff7901;}
.footer-bot{text-align: center;font-size: 12px;margin-top:8px;}
.footer-bot a{color: #666666;}
.footer-where{text-align: center;margin-top:18px;}
.footer-where a{color: #666666;display: inline-block;padding: 1px 5px;font-size: 12px;}
.footer-where a:hover{
	color: #000000;
	text-decoration:underline;
}
/*//关于我*/
/*banner图 begin*/
.carousel-fade .carousel-inner .item{
    opacity:0;
    -webkit-transition-property:opacity ;
    -moz-transition-property:opacity ;
    -ms-transition-property:opacity ;
    -o-transition-property:opacity ;
    transition-property:opacity ;
}
.carousel-fade .carousel-inner .active{
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{
    left: 0;
    opacity: 0;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-indicators{
    bottom:70px;
}
.new-header-souye li{
	padding: 0 25px;
}
.new-header-souye li a{font-size: 14px;color: #666666;}
.new-header-souye li a:hover{
	color:#4385F5;
}
#head-qie {
    color: #4385F5;
}
.header-bg{
	min-width: 1200px;
    width:100%;
    box-shadow: 0 3px 7px 1px rgba(30,129,210,.1);
    position: relative;
    /*z-index: 2;
    position: absolute;*/
   background: #FFFFFF;
   height:72px;
}
@media only screen and (max-width: 1100px) {
    #new-header{
        width: 90%;
    }
}
@media only screen and (min-width: 1101px) {
    #new-header{
        width: 80%;
    }
}
#nav{min-width: 1200px;position: relative;}
#new-header {
    height:72px;
    margin:0 auto;
    justify-content: space-between;
    width: 1180px!important;
}
.header-yi{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:40px;
    background: #4385f5;
}
.new-header-yi{height: 52px;width:1190px;float: left;}
.new-header-yi ul{float:right;margin-top: 30px;}
.new-header-yi ul li{float: left;color: #999999;margin-left:5px;}
.new-header-yi ul li a{
	font-size: 14px;
    font-family: 'Microsoft YaHei' !important;
}
.new-header-yi ul li span{
	font-family: PingFang-SC-Regular;
	font-size: 12px;
	color:#e57a1a;
}
.new-header-img{
    margin-top:15px;
    height: auto;
    float: left;
}
.qydl_a{color:#4385F5!important;padding: 3px 8px;border: 1px solid #4385F5;}
.qydl_a:hover{
	background:#4385F5;
	color:#FFFFFF!important;
}
.new-header-souye li{
	padding: 0 25px;
}
.new-header-souye li a{font-size: 14px;color: #666666;}
.new-header-souye li a:hover{
	color:#4385F5;
}
.new_header_ul>li{margin-left: 15px!important;}
#head-qie{
	color:#4385F5;
}
.hearder-title{
	width: 1136px;
	position: absolute;
	/*top:66px;*/
	/*left:32px;*/
	height:44px;
	border-bottom: 1px solid #333;
	z-index: 200;
}
/*.new-header-btn>ul>li {
    margin-top:13px;
}*/

.grdl{
    width: 148px;
    height: 40px;
    position: relative;
    z-index: 10;
    background-color:#dc4437;
    color:#ffffff;
    text-align:center;
    line-height: 40px;
}
.grdl>a>span{
    width: 80px;
    height: 40px;
    line-height:40px;
    font-family: PingFang-SC-Bold;
    font-size: 16px;
    z-index:20;
    color:#ffffff;
    position:absolute;
    left:35px;
}

.grdl a{
    color: #FFFFFF;
    /*display: inline-block;
    float: left;*/
}

.grdl div{
    float: left;
    margin: 0 4px;
}
.grdl_img{
    position: absolute;
    z-index: 30;
    left: 17px;
    top: 8px;
}

.a_login_common{
    width: auto;
    max-width:65px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    float: left;
}

.a_left{
    display: inline-block;
    float: left;
}
.new-header-btn-login{
	padding:8px 10px!important;	
}
.new-header-btn-login:hover{
	background:#e57a1a!important;
}
.new-header-btn-ul{
    text-align: center;
    /*margin-left: -20px;*/
}
.new-header-btn-ul li{
    padding-right: 0 !important;
}
.new-header-ul>ul li a b{
    -moz-transition: -moz-transform .2s ease-in;
    -webkit-transition: -webkit-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
.new-header-ul>ul li a:hover b {
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.nav>li>a:hover, .nav>li>a:focus,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: rgba(255,255,255,0);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
}
.nav-tabs>li>a{
    margin-right:0;
}
.dropdown-menu{
    background-color:#FFFFFF;
    border: 1px solid rgba(0,0,0,0);
    padding:0;
    min-width: 106px!important;
    height:70px;
    box-shadow: 0px 1px 2px 0px 
		rgba(12, 45, 82, 0.22);
	top: 29px;
}
.dropdown-menu li a{
	font-size: 14px!important;
	color: #333333!important;
	padding:5px 0;
}
.dropdown-menu li a:hover{
	font-size: 14px!important;
	color: #e57a1a!important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background-color: rgba(255,255,255,0);
    color: #4188b9;
}
/*.new-header-btn .navbar-nav>li>.new-header-btn-register{
    padding-top:0;
    padding-bottom:0;
    color:#ffffff;
    font-size: 16px;
    padding:0 10px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius:7px;
    margin-top:8px;
}*/
/*.new-header-btn-register:hover{
    border-color:#e57a1a!important;
    color:#FFFFFF!important;
    background:#e57a1a!important;
}*/
/*.new-header-btn-login{
    border-color: #FFFFFF;
}*/
.navbar-nav{margin: 0;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    border-color: inherit;
}
.carousel-indicators .active {
    width: 20px;
}
.carousel-control{
    width:4%;
    top: 49%;
    bottom:40%;
    background-image:url("../../img/index/background.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.myleft{
    left:2%;
}
.myright{
    right:1%;
    left: auto;
}
    /*banner图 end*/

/*最新趋势 begin*/
#trend{
	width: 1200px;
    /*width:80%;*/
    margin:0 auto 0 auto;
}
.trend-tittle div{
    margin-bottom:9px;
}
.trend-tittle h1{
    font-size: 28px;
    line-height: 48px;
    color: #333333;
}
#myTab>li>a:hover{
    border:1px solid #ccc;
    border-bottom:1px solid #4188b9;
    font-size: 14px;
    cursor: pointer;
    color: #4385f5;
}
.nav-tabs>li>a{
    border:none !important;
    border-bottom:1px solid #4188b9;
    color: #666666;
}
.nav-tabs {
    border-bottom: none;
}
.no-padding-r{
    padding-right:0;
    height: 24px;
    font-family:PingFang-SC-Regular;
}
.tab-pane{
    min-height:400px;
}
.chart-pane{
    height:340px;
}
/*.trend-syn-tittle{
    color:#fff;
    background-color: #4188b9;
    cursor: default;
    border: 1px solid #4188b9;
    border-bottom-color: transparent;
    width: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}*/
.trend-syn-name{
    text-align: center;
    background-color: #f9f7f6;
    margin-left: -16px;
    margin-right: -16px;
    border-top: 3px solid #4188b9;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    height: 38px;
    line-height: 34px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #4188b9;
}
.trend-syn-table-title{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height:35px;
    line-height:35px;
}
.price-list {
    height:320px;
    border-top: none;
    background-color: #fff;
    z-index: 2;
    margin-top: 12px !important;
}
.price-list-title{
    margin-left: -15px;
    margin-right: -15px;
}
.price-list-content{
    border: 1px solid #ccc;
    border-top: none;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 317px;
}
.brid_ul {
    list-style-type: none;
    text-align: left;
    min-height: 130px;
    font-size: 14px;
    padding-left: 0;
    line-height: 25px;
    padding-top:5px;
}
.detail-a,.detail-a:hover{
    /*color: #2fa0ec;*/
}
.info_sub{
    margin-top:-200px;
    margin-left: 20px;
    position: absolute;
    display:none;
    background-color: #fff;
    color:#000;
    border:1px solid #ccc;
    width:250px;
    z-index: 100;
    box-shadow: 0 3px 7px 1px rgba(204,204,204,0.5);
}
a:hover .info_sub{
    display:block;
}
.info_sub ul{
    list-style-type:none;
    margin:0 10px;
}
.info_sub ul li{
    padding:5px 0;
    font-size: 15px;
    border-bottom:1px solid rgba(238,238,238,0.5);
}
.info_sub ul li:last-child{border-bottom:none;}
.info_sub ul li span{
    font-family: "Microsoft Yahei";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0;
    letter-spacing: 0;
    color: #666666;
}
.info_sub ul li span:first-child{
    font-weight: 600;
    font-size: 14px;
}
.info_sub em
{
    display: block;
    border-width: 10px;
    position: absolute;
    top: 178px;
    left: -21px;
    border-style: solid dashed dashed;
    border-color: transparent #e0e0e0 transparent transparent;
    font-size: 0;
    line-height: 0;
}
.info_sub>span
{
    display: block;
    border-width: 10px;
    position: absolute;
    top: 178px;
    left: -19px;
    border-style: solid dashed dashed;
    border-color: transparent #fff transparent transparent;
    font-size: 0;
    line-height: 0;
}
/*最新趋势 end*/
#head-qie{
	/*background:#2269e0;*/
}
.a_login_common{width:80px;height:40px;line-height:40px;font-size:16px;color:#ffffff;}
.a_login_common:hover{font-size:16px;color:#ffffff;}
.a_login_common:link{outline:none;color:#ffffff;}
.sign_out{width:122px;height:40px;line-height:40px;font-size:16px;color:#666666;display:none;border:1px solid #dddddd;background-color:#eeeeee;font-family:PingFang-SC-Medium;}
.sign_out>a{color:#666666;}

.footer-logo{
    margin-left:20px!important;
}
.footer-bottom ul>li a{font-size: 12px;}
.dapan_head_span{
    color:#999999;
}
.detail-a{position: relative;}
/*新增公司简称*/
.offer-company-img span{display: block;width:58px;height:58px;line-height: 58px;	background: #FFFFFF;border-radius: 50%;}
.company_name_yi{font-size:30px;font-weight: bold;}
.company_name_er{font-size: 22px;letter-spacing:1px;font-weight: bold;}
.company_name_san{font-size:16px;letter-spacing:1px;font-weight: bold;}
.company_name_si{font-size:12px;letter-spacing:1px;font-weight: bold;}
.company_name_color0{color:#3fa7ff;}
.company_name_color1{color:#ff5400;}
.company_name_color2{color:#e92c39;}
.company_name_color3{color:#10a132;}
