
/*商品品种*/
#myTab_1{display: none;}
#myTab,#myTab_1{
	position:absolute;
	top:5px;
	left:0;
	z-index: 20;
}
#myTab>li>a,#myTab_1>li>a{
	font-size: 14px;
	padding: 2px 5px;
	border-radius:5px;
	display: inline-block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color: #4385f5;
	color: #FFFFFF!important;
}
#myTab>.active a,#myTab_1>.active a{
	color:#FFFFFF!important;
}
.nav-tabs>li>a{color: #FFFFFF;}
#myTab>li,#myTab_1>li{
	margin-right:20px;
	margin-top:6px;
}
.ssbj{
	/*background-color: #fff;*/
	
}
.trend-line{
	position: relative;
	/*background: #FFFFFF;*/
}
.trend-line-title{
	height:45px;
	/*background-color: #f6f6f6;*/
	margin:5px 20px 0 20px;
	border-bottom: solid 1px #666666;
}
.trend-line-title>span{
	display:inline-block;
	font-size: 18px;
	color: #333333;
	float: left;
	margin:12px 13px;
	font-weight: 600;
}
.trend-line-title ul{
	height:45px;
	display: inline-block;
	/*margin-left:120px;*/
}
.trend-line-title ul li{
	height:36px;
	float: left;
	/*padding: 0 20px;*/
	padding-left: 20px;
	font-size:18px;
	color:#ffffff;
	margin:4px 0 0 0;
	line-height:36px;
	text-align: center;
	cursor: pointer;
}
/*.trend-line-title ul li:hover{
	background:#FFFFFF;
}*/
.trend-line-avtive{
	background:#FFFFFF;
	color:#2577e3!important;
}
.trend-line-title>div{float: right;line-height:29px;height:24px;}
.trend-line-title>div .transaction p{
	display: inline-block;
	width:4px;
	height:4px;
	background:#00ff24;
	float: left;
	margin:13px 6px 0 0;
}
.trend-line-title>div .transaction span{
	display: inline-block;
	float: left;
	color:#00ff24;
}
.trend-line-title>div .stopbusiness p{
	display: inline-block;
	width: 5px;
	height: 5px;
	background:#ff1400;
	float: left;
	margin:13px 6px 0 0;
}
.trend-line-title>div .stopbusiness span{
	display: inline-block;
	float: left;
	color:#ff1400;
}
.ckdp_span{
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #dc4437;
	border-radius: 16px;
	display: inline-block;
	color: #dc4437;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	right: -16px;
}
.trend-line-title div img{
	float: left;
	margin: 2px 6px 0 0;
}
#myTabContent,#myTabContent_1{
	/*border:1px solid #DDDDDD;*/
	border-top: none;
	position: relative;
	/*height:378px;*/
	/*width: 1160px;*/
	height:56%;
	width: 100%;
	margin:20px auto;
	    background-color: #070e19;
}
#myTabContent_1{display: none;}
.tab_mm{
	position:relative;
}
.index_nowdate{
	position:absolute;
	top: 490px;
	right:50px;
}
#bird_price_banner_4>ul>li:hover{
	background: #F6F6F6;
}
/*//01.14新增*/
.index_nowdate{
	text-align:center;
	color:#4385f5;
	font-size:14px;
}
.brid_ul {padding-top:10px;}
/*.brid_ul li:hover{
	background: #f8f9fc;
	cursor: pointer;
}*/
.chart-pane canvas{top:15px !important;padding-top:2px!important;}
.ckdp_icon{
	position:absolute;
	top:65px;
	right:55px;
}
.ckdp_icon a{
	display: inline-block;
	width: 120px;
	height: 29px;
	z-index:0.8;
	background:url(./img/chat/icon.png) 0 -74px;
}
.ckdp_span{
	color:#dc4437;
	font-size:16px;
	font-weight:bold;
}
.dapan_hover{
	background-color:#dc4437;
	color:#ffffff;
}

/*//06.13首页改版start*/
#index-main{
	width:1200px;
	margin:10px auto 28px auto;
	background-color: #0c213c;
	padding-bottom: 20px;
}
.chart-pane{height: 438px;}
#myTabContent .chart-pane,#myTabContent1 .chart-pane{background-color: #070e19!important;}
/*实时报价start*/
.realtime{width: 1160px;margin: 0 auto;}
.realtime>div{
	height: 352px;
	float: left;
	background-color: #070e19;
}
.realtime-real{
	height: 312px!important;
    margin-top: 40px;
}
.realtime-time{
	width:758px;
}
.realtime-time ul{width: 96%;margin-left:2%;height:auto;position: relative;}
.realtime-time ul li{margin: 10px 0;}
.realtime-time ul li span{
	width: 16%;
	display: inline-block;
	text-align: center;
	color: #FFFFFF;
}
.realtime-buy{color: #ff1400!important;}
.realtime-sell{color: #00d700!important;}
.realtime-real{
	width:380px;
	margin-left:20px;
}
.real-img{
	height:40px;
	background:#0c213c;
	margin-left: -2px;
}
.real-img .real-img-img{
	display: inline-block;
	width: 22px;
	height: 20px;
	background: url(../../img/index/new_index/souye_tu.png) 0 0;
	float: left;
	margin: 10px 0 0 10px;
}
.real-img .real-img-img2{
	display: inline-block;
	width: 22px;
	height: 20px;
	background: url(../../img/index/new_index/souye_tu.png) 0 -154px;
	float: left;
	margin: 10px 0 0 10px;
}
.real-img .real-img-p{
	display: inline-block;
	width: 22px;
	height: 20px;
	background: url(../../img/index/new_index/souye_tu.png) 0 -50px;
	float: left;
	margin: 10px 0 0 10px;
}
.real-img span{display: inline-block;font-size: 18px;color: #FFFFFF;margin: 10px 0 0 10px;}
.realtime-real-yi{
	position: absolute;
	top: 480px;
	right: 0;
	width: 380px;
	height: 352px;
}
.realtime-real-yi .brid_ul{
 	width: 90%;
 	margin-left: 5%;
 } 
 .realtime-real-yi .brid_ul>li>div>div{text-align: center!important;padding: 0!important;} 
 .no-padding-r-sell{color: #00d700;}
  .no-padding-r-buy{color: #ff1400;}
  .no-padding-r-amount{color: #FFFFFF!important;}
  .current_price{
  	width: 100%;
  	height:3px;
  	background:url(../../img/index/new_index/xiantiao.png);
  	margin:10px 0;
  }
  .no-padding-r{height: 26px;}
  .brid_ul li{position: relative;}
  .tubiao{
  	position:absolute;
  	top:3px;
  	right: 0;
  	display: none;
  }
  .no-padding-r-price-sell{width: 25%!important;}
/*实时报价end*/
/*公司报价start*/
.offer-company{
	width: 1160px;
	margin:20px auto;
	padding-bottom: 10px;
	background-color: #070e19;
}
.offer-company-ul{
	width: 1040px;
	margin-left:60px;
	margin-top: 30px;
}
.offer-company-ul li{
	width: 240px;
	height: 260px;
	float: left;
	margin:10px;	
	background: #0c1a2f;
	overflow: hidden;
}
.offer-company-ul li:hover>div{
	width: 240px;
    height: 260px;
	float: left;
	background:url(../../../static/img/index/new_index/xiankuang.png);	
}
.offer-company-ul li>div{
	border: 0;
	width: 240px;
    height: 260px;
}
.real-img .real-img-company{
	display: inline-block;
	width: 22px;
	height: 20px;
	background: url(../../img/index/new_index/souye_tu.png) 0 -102px;
	float: left;
	margin: 10px 0 0 10px;
}
.offer-company-img{
	width:240px;
	height:40px;
	overflow: hidden;
	margin:50px auto 0 auto;
	text-align: center;
}
.offer-company-img img{height: 40px;max-width: 240px;}
.offer-company-name{
	color: #FFFFFF;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin: 25px 0 40px 0;
}
.offer-company-a{
	width: 134px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(0deg, 
		#4691ea 0%, 
		#4db2ff 100%);
	border-image-slice: 1;
	margin:0 auto; 
	text-align: center;
	line-height: 40px;
}
.offer-company-a a{display: block;}
.offer-company-a p{
	display: inline-block;
	width: 15px;
	height: 6px;
	background: url(../../img/index/new_index/icon.png) 0 -314px no-repeat;
}
/*公司报价end*/
/*//底部*/
#new-footer{width: 100%;height:180px;position: relative;background:#FFFFFF;min-width: 1200px;color: #666666;}
#new-footer>img{width: 100%;position: absolute;top: 0;left: 0;}
.footer-top{width:100%;min-width: 900px;}
.footer-mainn{margin: auto;position: relative;z-index: 2;background-color:#FFFFFF;}
.footer-bottom{width: 100%;min-width: 900px;text-align:center;height:68px;position:relative;border-bottom:none;padding-top: 40px;}
.footer-bottom ul{min-width:305px;position:absolute;left:50%;transform:translateX(-50%);}
.footer-bottom ul>li{float: left;margin-right:2%;cursor: pointer;}
.footer-bottom ul>li a{color: #666666;font-size: 12px;}
.footer-bottom ul>li a:hover{color: #4385F5;}
.footer-top{text-align: center;margin-top:8px;font-size: 12px;}
.footer-top span{color: #ff7901;}
.footer-bot{text-align: center;font-size: 12px;color: #000;margin-top:8px;}
.footer-bot a{color: #666666;}
.footer-where{text-align: center;margin-top:0;}
.footer-where a{color: #666666;display: inline-block;padding: 1px 5px;font-size: 12px;}
.footer-where a:hover{
	color: #000000;
	text-decoration:underline;
}
/*//底部*/

/*头部*/
.header-bg{height: 72px;}
.new-header-btn-login{padding:8px 10px!important;}
.new-header-btn-login:hover{background:#e57a1a!important;}
.new-header-btn-ul{text-align: center;}
.new-header-btn-ul li{padding-right: 0 !important;}
.new-header-ul>ul li a b{
    -moz-transition: -moz-transform .2s ease-in;
    -webkit-transition: -webkit-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
.new-header-ul>ul li a:hover b {
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
#new-header {
    height:72px;
    margin:0 auto;
    justify-content: space-between;
    width: 1180px!important;
}
.header-yi{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:40px;
    background: #4385f5;
}
.new-header-yi{height: 52px;width:1190px;float: left;}
.new-header-yi ul{float:right;margin-top: 30px;}
.new-header-yi ul li{float: left;color: #999999;margin-left:5px;}
.new-header-yi ul li a{
	font-size: 14px;
}
.new-header-yi ul li span{
	font-family: PingFang-SC-Regular;
	font-size: 12px;
	color:#e57a1a;
}
.new-header-img{
    margin-top:15px;
    height: auto;
    float: left;
}
.qydl_a{color:#4385F5!important;padding: 3px 8px;border: 1px solid #4385F5;}
.qydl_a:hover{
	background:#4385F5;
	color:#FFFFFF!important;
}
.new-header-souye li{
	padding: 0 25px;
}
.new-header-souye li a{font-size: 14px;color: #666666;}
.new-header-souye li a:hover{
	color:#4385F5;
}
.new_header_ul>li{margin-left: 15px!important;}
#head-qie{
	color:#4385F5;
}
.hearder-title{
	width: 900px;
	position: absolute;
	bottom:416px;
	left:32px;
	height:44px;
	border-bottom:1px solid #333;
	z-index: 200;
}
.xuanhe-teatime{
	position: absolute;
	top: 0;
	right: 0;
	height: 44px;
}
.xuanhe-teatime>div{float: left;margin-right:20px;}
.xuanhe-teatime div>span{
	color: #FFFFFF;
	display: inline-block;
	/*height: 44px;
	line-height: 44px;*/
	width: 63px;
	height: 20px;
	text-align: center;
	line-height:20px;	
	margin-top:15px;	
}
/*.xuan-reatime-history a{
	color: #FFFFFF;
}*/
.xuan-reatime-span{
	background-color: #ff4e00;
}
.xuan-reatime-history:hover{
	background-color: #ff4e00;
}
.xuan-reatime-history:hover a{
	color: #FFFFFF;
}
.xuan-reatime-history a{
	color:#ff4e00;
}
.xuanhe-teatime p{
	width: 12px;
	height: 12px;
	border: 1px solid #4385F5;
	float: left;
	margin:16px 5px 0 0;
}
.xuanhe-teatime p span{
	width: 100%;
	height: 100%;
	background: url(../../img/index/new_index/icon.png) -7px -49px;
	display: none;
}
.xuan-reatime p span{display: block;}
/*//06.13首页改版end*/
.mCSB_vertical .mCSB_container{
    min-height:286px;
    height:auto;
}
.mCSB_scrollTools {
    width: 8px !important;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    background-color: #070e19 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #070e19 !important;
}
.mCSB_scrollTools .mCSB_dragger{
    background-color: #173360 !important;
    border-radius:12px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #173360 !important;
    border-radius:12px;
}
.mCSB_inside > .mCSB_container{margin-right: 0!important;}
.tealtime-time{
	position: relative;
	overflow:hidden;
	height:288px;
	width: 99%;
	margin-top: 10px;
}
/*交谈弹窗*/
.speak_tan{
	position:fixed;
	top:50%;
	width: 400px;
	height: 178px!important;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	left:40%;
	display: none;	
	z-index: 30000;
}
.speak_tandiv{
	position: absolute;
	top: 0;
	left:0;
	width: 400px;
	height: 178px;
	background-color: #ffffff;
	box-shadow: 2px 5px 6px 0px 
		rgba(48, 48, 48, 0.2);
}
.speak_tan_head{
	width: 400px;
	height: 30px;
	background-color: #4385f5;
	color: #FFFFFF;
}
.speak_tan_head p{
	display: inline-block;
	float: right;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height:30px;
	font-size: 20px;
	cursor: pointer;
}
.speak_tan_head p:hover,.speak_tan_head p:focus,.speak_tan_head p:link{
	background-color: #ff3241!important;
}
.speak_tan_head span{
	display: inline-block;
	margin:4px 0 0 10px;
}
.speak_tan_main{
	height: 120px;
	padding-left: 35px;
}
.speak_tan_main a,.speak_tan_main>span{
	display: inline-block;
	width: 100px;
	height: 30px;
	border: solid 1px #4385f5;
	text-align: center;
	line-height: 30px;
	margin-top: 55px;
	margin-left:40px;
	color: #4385f5;
	cursor:pointer;
}
.speak_tan_main a:hover,.speak_tan_main>span:hover{
	background:#4385f5;
	color: #FFFFFF;
}
/*三角*/
.cpm_sanjiao{
	display: inline-block;
	 width:0;
    height:0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #4385f5;
}
.cpm_daosanjiao{
	display: inline-block;
	 width:0;
    height:0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #4385f5!important;
    border-top: 0 solid #4385f5;
}
.dapan_time{
	position: absolute;
	bottom:6px;
	text-align: center;
	z-index: 100;
	width: 100%;
	color:#666666;
	font-size: 12px;
}
.style_line{
	width: 1115px;
	margin-left:30px;
	border:0.5px solid #333;
	position: absolute;
	bottom: 416px;
	left: 0;
	z-index: 500;
}
