* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background: #fff;*/
  font: 12px Microsoft YaHei, arial, sans-serif;
}

ul {
  list-style-type: none;
}

/*a {
    color: #f39800;
    text-decoration: none;
}*/

/** =======================
 * Contenedor Principal
 ===========================*/
.vu_list-title{
  display: inline-block;
  width: 100%;
  max-width: 200px;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  background: #FFF;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #f39800;
  cursor: pointer;
}
/*h1 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
}
h1 a {
    color: #f39800;
    font-size: 16px;
}*/
.vu_accordion {
  /*height: 310px;*/
  width: 100%;
  /*margin-top: 20px;*/
  /*overflow-y:scroll;*/
}
.vu_accordion .vu_link {
  cursor: pointer;
  display: block;
  padding:2px 15px 3px 25px;
  color: #cccccc;
  font-size: 14px;
  position: relative;
  text-align: left;
  height: 28px;
}
/*新群发样式*/
.vu_accordion .vu_link.newQunFa{
  color: #666;
  padding-top:4px;
  padding-right: 0px;
}
.vu_accordion li:last-child .vu_link {
  border-bottom: 0;
}
.vu_accordion li div i {
  position: absolute;
  top:2px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.vu_accordion li i.fa-caret-right {
  font-size:20px;
  color: #a4a4a4;
}
.vu_accordion li.vu_open i.fa-caret-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color:#666666;
}
/**
 * Submenu
 -----------------------------*/
.vu_submenu {
  font-size: 14px;
  display: none;
}

.vu_submenu>li {
  height:60px;
  position: relative;
  text-align: left;
}
.vu_submenu_com{
  float: left;
  margin-top: 10px;
}
.vu_submenu a{
  display: inline-block;
  text-decoration: none;
  color: #EEEEEE;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin:0 0 0 10px;
  max-width:130px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  /*float: left;*/
}
/*新群发报价*/
.vu_submenu a.newQunFa{
  color:#666;
  padding-top: 6px;
  width: 37%;
}
.vu_submenu .vue_submen_company{
  /*float: left;*/
  color: #cccccc;
  font-size: 12px;
  margin:1px 0 0 10px;
  max-width: 170px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.vu_submenu_com span{
  display: inline-block;
  width: 28px;
  height: 12px;
  background: url(../images/yiding.png) -31px -147px;
  margin-left: 8px;
  float: right;
  margin-top: 5px;
}
.vu_ren-add{
  width: 44px;
  height: 20px;
  background-color: #24b75b;
  float: right;
  margin: 19px 3% 0 0;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
}
.vu_ren-add:hover{background-color: #1c994b;}
.vu_submenu>li:hover ,.vu_submenu>li.vu_current{
  background-color: #45444b;
  color: #666666;
}
.vu_submenu>li.newQunFa:hover ,.vu_submenu>li.vu_current.newQunFa{
  background-color: #dfdee9;
  color: #666666;
}
/*新群发样式*/
.vu_submenu-name.vu_submenu-newname:hover{
  background-color: #dfdee9;
  color: #666666;
}
/*http://www.jq22.com*/
.vu_accordion .vu_link:hover{
  background-color:#45444b;
}
/*新群发增加样式 newQunFa*/
.vu_accordion .vu_link.newQunFa:hover{
  background-color:#dbd9e6;
}
.vu_accordion .vu_link span{
  font-size: 10px;
  padding-left:5px;
  display: inline-block;
  float: left;
  height: 20px;
  line-height: 20px;
}
.vu_accordion .vu_link.newQunFa:hover{
  color: #333;
}
.vu_qunnew-que.newQunFa{
  height: 280px;
  border-bottom: 1px solid #ddd;
}
