* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background: #fff;*/
  font: 12px Microsoft YaHei, arial, sans-serif;
}

ul {
  list-style-type: none;
}

/*a {
    color: #f39800;
    text-decoration: none;
}*/

/** =======================
 * Contenedor Principal
 ===========================*/
.vu_list-title{
  display: inline-block;
  width: 100%;
  max-width: 200px;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  background: #FFF;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #f39800;
  cursor: pointer;
}
/*h1 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
}
h1 a {
    color: #f39800;
    font-size: 16px;
}*/
.vu_accordion {
  /*height: 310px;*/
  width: 98%;
  max-height: 78%;
  /*margin-top: 20px;*/

}
.vu_accordion .vu_link {
  cursor: pointer;
  display: block;
  padding:2px 15px 3px 25px;
  color: #cccccc;
  font-size: 14px;
  position: relative;
  text-align: left;
  height: 28px;
}
/*新群发样式*/
.vu_accordion .vu_link.newQunFa{
  color: #666;
  padding-top:3px;
  padding-right: 0px;
}
.vu_accordion li:last-child .vu_link {
  border-bottom: 0;
}
.vu_accordion li div i {
  position: absolute;
  top:2px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.vu_accordion li i.fa-caret-right {
  font-size:20px;
  color: #a4a4a4;
}
.vu_accordion li.vu_open i.fa-caret-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color:#666666;
}
/**
 * Submenu
 -----------------------------*/
.vu_submenu {
  font-size: 14px;
  display: none;
}

.vu_submenu>li {
  height:26px;
  position: relative;
  text-align: left;
}
.vu_submenu>li:hover .vu_submenu_shez{background: #4A4A51;}

.vu_submenu_com{
	float: left;
	margin-top: 10px;
	/*width: 60%;*/
  width: 58%;
}
.vu_submenu_name{
    display: inline-block;
    text-decoration: none;
    color: #666666!important;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    margin:3px 0 0 10px;
    max-width:63%;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
    /*float: left;*/
}
.vu_submenu a b{
	font-size: 12px;
	color: #CCCCCC;
}
/*新群发报价*/
.vu_submenu a.newQunFa{
  color:#666!important;
  width: 37%;
  text-decoration: none;
}
.vu_submenu .vue_submen_company{
	/*float: left;*/
	color: #cccccc;
	font-size: 12px;
	margin:1px 0 0 5%;
	width:95%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.vu_submenu_com span{
	display: inline-block;
	width: 28px;
	height: 12px;
	background: url(../images/yiding.png) -31px -147px;
	margin-left: 8px;
	float: right;
	margin-top: 5px;
}
.vu_ren-add{
  width: 40px;
  height: 20px;
  background-color: #24b75b;
  position: absolute;
  top: 0;
  right: 0;
  margin: 19px 3% 0 0;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
}
.vu_ren-add:hover{background-color: #1c994b;}
.vu_submenu>li:hover ,.vu_submenu>li.vu_current{
  background-color: #f8faff;
  color: #666666;
}
.vu_submenu>li.newQunFa:hover ,.vu_submenu>li.vu_current.newQunFa{
  background-color: #f8faff;
  color: #666666;
}
/*新群发样式*/
.vu_submenu-name.vu_submenu-newname:hover{
  background-color: #f8faff;
  color: #666666;
}
/*http://www.jq22.com*/
.vu_accordion .vu_link:hover{
  background-color:#45444b;
}
/*新群发增加样式 newQunFa*/
.vu_accordion .vu_link.newQunFa:hover{
  background-color:#e4edff;
}
.vu_accordion .vu_link span{
  font-size: 10px;
  padding-left:5px;
  display: inline-block;
  float: left;
  height: 20px;
  line-height: 20px;
}
.vu_accordion .vu_link.newQunFa:hover{
  color: #333;
}
/*一键按钮的动态图*/
@-webkit-keyframes flyaway {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(2);
    transform: translate(0, 0) rotate(0deg) scale(2);
  }
  5% {
    -webkit-transform: translate(15px, -2px) rotate(10deg) scale(2.5);
    transform: translate(15px, -2px) rotate(10deg) scale(2.5);
    top:-50px;
  }
  20% {
    -webkit-transform: translate(130px, -2px) rotate(-20deg) scale(3);
    transform: translate(130px, -2px) rotate(-20deg) scale(3);
    top:-150px;
  }
  40% {
    -webkit-transform: translate(280px, -40px) rotate(10deg) scale(3.5);
    transform: translate(280px, -40px) rotate(10deg) scale(3.5);
    opacity: .8;
    top:-250px;
  }
  60% {
    -webkit-transform: translate(500px, -90px) rotate(30deg) scale(4);
    transform: translate(500px, -90px) rotate(30deg) scale(4);
    opacity: .6;
    top:-350px;
  }
  80% {
    -webkit-transform: translate(700px, -140px) rotate(50deg) scale(4.5);
    transform: translate(700px, -140px) rotate(50deg) scale(4.5);
    opacity: .3;
    top:-450px;
  }
  100% {
    -webkit-transform: translate(1000px, -200px) rotate(60deg) scale(0);
    transform: translate(1000px, -200px) rotate(60deg) scale(0);
    opacity: 0;
    top:-550px;
  }
}

@keyframes flyaway {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(2);
    transform: translate(0, 0) rotate(0deg) scale(2);
  }
  5% {
    -webkit-transform: translate(15px, -2px) rotate(10deg) scale(2.5);
    transform: translate(15px, -2px) rotate(10deg) scale(2.5);
    top:-50px;
  }
  20% {
    -webkit-transform: translate(130px, -2px) rotate(-20deg) scale(3);
    transform: translate(130px, -2px) rotate(-20deg) scale(3);
    top:-150px;
  }
  40% {
    -webkit-transform: translate(280px, -40px) rotate(10deg) scale(3.5);
    transform: translate(280px, -40px) rotate(10deg) scale(3.5);
    opacity: .8;
    top:-250px;
  }
  60% {
    -webkit-transform: translate(500px, -90px) rotate(30deg) scale(4);
    transform: translate(500px, -90px) rotate(30deg) scale(4);
    opacity: .6;
    top:-350px;
  }
  80% {
    -webkit-transform: translate(700px, -140px) rotate(50deg) scale(4.5);
    transform: translate(700px, -140px) rotate(50deg) scale(4.5);
    opacity: .3;
    top:-450px;
  }
  100% {
    -webkit-transform: translate(1000px, -200px) rotate(60deg) scale(0);
    transform: translate(1000px, -200px) rotate(60deg) scale(0);
    opacity: 0;
    top:-550px;
  }
}

.flyaway {
  -webkit-animation: flyaway 1s linear;
  animation: flyaway 1s linear;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*新群发的新分组*/
.c_zuBox{
  height: 38px;
  width: 100%;
  margin: 0 auto;
  background: #f9fafb;
  overflow: hidden;
}
.c_zuBox ul{
  display: block;
  float: left;
  width: 70%;
  /*overflow: hidden;*/
  white-space:nowrap;
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
}
.c_zuBox li{
  list-style: none;
  display: inline-block;
  padding:4px 25px 4px 10px;
  padding-left: 10px;
  height: 30px;
  margin-left:5px;
  /*overflow: hidden;*/
  /*min-width: 60px;*/
  text-align: center;
  cursor: pointer;
  position: relative;
 }
.c_zuBox li div{
  float: left;
}
.c_zuBox .c_active{
  background: #4385F5;
  border-radius: 5px;
  color: #FFFFFF;
}
.c_zuBox .c_active span{
  position: absolute;
  top: 8px;
  right: 4px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/qie_tu.png) -4px -44px no-repeat;
  cursor: pointer;
}
.c_zuB .c_active .c_qungainame{
  float: right;
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/5468.png) 0 -85px no-repeat;
  margin-top: 3px;
  margin-left: 6px;
  cursor: pointer;
}
.c_zuB .c_active .c_qungaititle{
	float:right;
	font-size: 12px;
	color: #FF1400;
	margin-left: 5px;
}
.c_zuB .c_active .c_qunname{display: inline-block;position: relative;padding: 0 5px;}

/*.c_zuBox .c_active:hover span{
  background: url(../images/qie_tu.png) -4px -44px no-repeat;
}*/
.c_newQunBox{
  width: 30%;
  float: right;
  font-size: 14px;
  color: #4385f5;
}
.c_newQunBox div{
  height: 40px;
  line-height: 40px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
.c_newQunBox div:hover{
  text-decoration: underline;
}
/*群组滚动样式 start*/
.vu_fenzu_left_ul.scrollCss::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #eeedf6;
}

/*定义滚动条轨道 内阴影+圆角*/
.vu_fenzu_left_ul.scrollCss::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 4px;
  background-color: #eeedf6;
}

/*定义滑块 内阴影+圆角*/
.vu_fenzu_left_ul.scrollCss::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
  background-color: #e1e1e1;
}
/*群组滚动样式 end*/

/*右侧撮合贸易筛选*/
.vue_leftlist_people .peopleChooseCuo{
	display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 26px;
  font-size: 14px;
  /*float: right;*/
  /*background: #fff;*/
  margin: 9px 0px 0 15px;
  padding: 2px 6px;
  /*border:1px solid #CDCDCD;*/
  border-radius: 6px;
  text-align: center;
  color: #333;
  cursor: pointer;
}
.vue_leftlist_people .peopleChooseCuo.chooseCuo{
  background-color:#4385F5;
  color: #FFFFFF ;
}
.vue_leftlist_people .peopleChooseMao{
	display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 26px;
  font-size: 14px;
  /*float: right;*/
  /*background: #fff;*/
  margin-top: 9px;
  padding: 2px 7px;
  /*border:1px solid #CDCDCD;*/
  border-radius: 6px;
  text-align: center;
  color: #333;
  margin-right:8px;
  cursor: pointer;
}
.vue_leftlist_people .peopleChooseMao.chooseMao{
  background:#EE5207;
  color: #fff ;
}
/*滚动样式 start*/
.leftlist_people_ul::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #eeedf6;
}

/*定义滚动条轨道 内阴影+圆角*/
.leftlist_people_ul::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 4px;
  background-color: #E1DFEE;
}

/*定义滑块 内阴影+圆角*/
.leftlist_people_ul::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);*/
  background-color: #CCCCCC;
}
/*滚动样式 end*/
