*, *:before, *:after {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body, ul {
    margin: 0;
    padding: 0;
}
body {
    color: #4d4d4d;
    font: 14px/1.4em 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
    background-size: cover;
    font-smoothing: antialiased;
}
ul {
    list-style: none;
}
#vu_chat {
	position: fixed;
	left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    top: 5%;
    margin: 20px auto;
    width:670px;
	height:540px;
	z-index: 1000;
}
#vu_chat .vu_sidebar{
	background: #EEEEEE;
}
.vu_m-text textarea{
	background: #F6F6F6;
}
#vu_chat .vu_m-message{
	background: #F6F6F6;
}
.vu_m-message .vu_self .vu_text{
	color: #FFFFFF;
}
.vu_m-na{
	height:49px;
	border-bottom: 1px solid #DDDDDD;
	background:#F6F6F6;		
}
.vu_m-na-name{
	display: inline-block;
	line-height: 49px;
	padding-left:20px;
	font-size: 16px;
	float: left;
}
.vu_send{
	position: absolute;
	bottom:15px;
	right:25px;
	width: 66px;
	height: 24px;
	background-color: #179aff;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}
header{display: none;}
.vu_history{
	position: absolute;	
	top: 8px;
	right: 15px;
	width:76px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	cursor: pointer;
}
.vu_history:hover,.vu_history:active,.vu_history:focus{
	background-color: #dddddd;
}
.vu_history p{
	display:inline;
	 width: 0;
    height: 0;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #afafaf;
    float: right;
    padding: 0;
    margin:4px 5px 4px  0;
}
#vu_chitchat{
	position: fixed;
	bottom:80px;
	right: 0;
	width: 40px;
	height: 78px;
	background-image: linear-gradient(0deg, 
		#279cff 0%, 
		#66d9ff 100%);
	box-shadow: 0px 0px 5px 0px 
		rgba(42, 42, 42, 0.11);
	text-align: center;
	cursor: pointer;
}
#vu_chitchat p{
	width: 22px;
	height: 17px;
	background: url(../images/qie_tu.png) 0 -158px;
	margin:15px 0 5px 9px;
}
#vu_chitchat span{
	font-size: 12px;
	color: #ffffff;
}
.vu_account-l{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: #f6f6f6;
	box-shadow: -1px -1px 3px 0px 
		rgba(42, 42, 42, 0.11);
}
#vu_friend{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 260px;
	height: 410px;
	background-color: #ffffff;
	box-shadow: -1px -1px 3px 0px 
		rgba(42, 42, 42, 0.11);
	z-index: 1000;
}
.vu_input-search{
	position: absolute;
	top:50px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F6F6F6;
}
.vu_m-touxiang{
	width: 34px;
	height: 34px;
	background-color: #cccccc;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin-top:7px;
	margin-left:15px;
}
.vu_m-touxiang img{
	border-radius: 50%;	
	width: 100%;
	height: 100%;
}
.vu_m-phone-input{
	display: none;
	margin-top:15px;
	margin-left: 10px;
	position: absolute;
	top: 0;
	left:45px;
}
.vu_m-phone-img{
	display:none;
	width: 12px;
	height: 12px;
	background: url(../images/qie_tu.png) -4px -106px;
	cursor: pointer;
}
#vu_search{
	width: 146px;
	height: 26px;
	border: solid 1px #cccccc;
	margin:11px 15px;
	padding-left: 10px;
	background: #5c6d9d;
	color: #CCCCCC;
}
#vu_search::-webkit-input-placeholder { /* WebKit browsers */ 
		color: #CCCCCC; 
	} 
#vu_search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
		color: #CCCCCC; 
	} 
#vu_search::-moz-placeholder { /* Mozilla Firefox 19+ */ 
		color: #CCCCCC; 
	} 
#vu_search:-ms-input-placeholder { /* Internet Explorer 10+ */ 
		color: #CCCCCC; 
	} 

.vu_m-search div{
	position: absolute;
	top: 12px;
	right:100px;
	width:20px;
	height: 26px;
	background:url(../images/qie_tu.png) -4px -79px  no-repeat;
	cursor: pointer;
}
.vu_m-search{
	height: 50px;
	border-bottom:1px solid #eeeeee;
	position: relative;
	background: #5c6d9d;
}
.vu_m-guan{float: right;margin-top: 10px;}
.vu_m-search p,.vu_m-guan p{float:right;width: 20px;height: 20px;cursor: pointer;text-align: center;margin: 10px 10px 0 0;}
.vu_m-search span,.vu_m-guan span{
	display: inline-block;
	width:15px;
	height:15px;
	background: url(../images/qie_tu.png) -4px -131px;
}
.vu_fa-chevron-down:before{
	color: #a4a4a4;
}

.vu_m-list .vu_avatar{
	width: 40px;
	height: 40px;
	border-radius: 50%!important;
	float: left;
	margin:5px 0 0 10px;
}
.vu_m-list .vu_name{margin:7px 0 0 5px;font-size: 14px;text-align: left;color: #333333;}
.vu_m-list li{position: relative;height: 50px;cursor: pointer;}
.vu_m-list li:hover .vu_delet-li{
	display: block;
}
.vu_m-list img{
	float: left;
}
.vu_m-list-del{
	float: left;
	position: relative;
	margin-top:8px;
	width: 40px;
	height:35px;
	text-align: center;
}
.vu_m-list-del p{height: 15px;color: #999999;}
.vu_m-list-del .vu_m-list-del-num{
	margin-top:5px;
	display: inline-block;
    border-radius: 50%;
    padding: 1px 3px;
    background-color: #e42b2b;
    color: #FFFFFF;
    font-size: 12px;
    height: 14px;
    line-height: 13px;
}
.vu_m-cs-cs{float: left;width: 100px;}
.vu_m-xiang{
	margin:3px 0 0 5px;
	width:124px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #999999;
}
.vu_m-time{
	position: absolute;
	right:10px;
	top:15px;
	font-size: 12px;
	color: #999999;
}
.vu_m-num{
	position: absolute;
	right:10px;
	top:39px;
	display:inline-block;
	border-radius: 50%;
	padding:1px 3px;
	background-color: #e42b2b;
	color: #FFFFFF;
	font-size: 12px;
	height: 14px;
    line-height:13px;
}
.vu_delet-li{
	position: absolute;
	right:12px;
	top:20px;
	width:16px;
	height:15px;
	border-radius: 50%;
	background:#EEEEEE url(../images/qie_tu.png) -3px 0;
	display:none;
	z-index: 3;
}
.vu_delet-li:hover{
	background:#EEEEEE url(../images/qie_tu.png) -3px -21px;
}
.vu_submenu-name{cursor: pointer;}
/*.submenu-name .m-phone-img{display: none;}*/
.vu_submenu-name:hover .vu_m-phone-img{display: inline-block;}
/*历史记录*/
#vu_history{
	width: 550px;
	height: 680px;
	background-color: #f6f6f6;
	box-shadow: 0px 0px 6px 0px 
		rgba(42, 42, 42, 0.2);
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	top:5%;
	z-index: 1000;
}
.vu_his-guan{
	margin-top:10px;
	padding: 0 10px;
	font-size: 14px;
	color: #999999;
}
.vu_his-guan p{float:right;width:30px;height: 20px;cursor: pointer;text-align: center;margin:-5px 10px 0 0;background: red;}
.vu_his-guan img{
	margin-top:6px;
}
.vu_his-main{
	margin-top: 10px;
	height:640px;
	overflow-y:scroll;
}
.vu_title-text span {
    display: block;      /*设置为块级元素会独占一行形成上下居中的效果*/
    position: relative;  /*定位横线（当横线的父元素）*/
    color: #666666;      /*居中文字的颜色*/
    text-align: center; 
    font-size: 12px;
    font-size: 10px;
} 
.vu_title-text span:before, .vu_title-text span:after { 
    content: ''; 
    position: absolute;   /*定位背景横线的位置*/
    top: 50%; 
    background: #8c8c8c;   /*背景横线颜色*/
    width: 30%;            /*单侧横线的长度*/
    height: 1px; 
} 
.vu_title-text span:before { 
    left:8%;              /*调整背景横线的左右距离*/
} 
.vu_title-text span:after { 
    right:8%; 
}
.vu_his-main li{
	padding-left:23px;
	margin-top:10px;
	text-align:left;
	padding-left: 45px;
}
.vu_oppo-title{
	font-size: 12px;
	color: #24a846;
}
.vu_oppo-xiang{
	margin-top:3px;
	font-size: 14px;
	color: #333333;
}
.vu_one-title{
	font-size: 12px;
	color: #2089ff;
}
.vu_one-xiang{
	margin-top:3px;
	font-size: 14px;
	color: #333333;
}
.vu_baoliu{
	text-align: center;
	margin:20px auto 20px auto;
	width:416px;
	height: 22px;
	font-size: 14px;
	color: #a9a9a9;
	background:#e8e8e8;
	line-height: 22px;
}
.vu_m-list{
	height: 490px;
	width: 220px;
	overflow: auto;
}
.vu_outer-container,.vu_content {
    width:220px;
}
.vu_outer-container {
    position: relative;
}
.vu_m-list {
    position: absolute; left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
 
 /* for Chrome */
.vu_m-list::-webkit-scrollbar {
    display: none;
}
/*滤镜*/
.vu_gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);    
    filter: grayscale(100%);	
    filter: gray;
}
/*列表来信息,动画*/
.vu_accordion_li{
	animation:fadetoggle 1s infinite linear;
	-webkit-animation:fadetoggle 1s infinite linear;
	-moz-animation:fadetoggle 1s infinite linear;;
}
@-webkit-keyframes fadetoggle {
	0%{ opacity: 1;}  
	50%{opacity: 0;}
	100%{ opacity: 1;}
}

/*切换*/
.vu_active{
    background: #DDDDDD;
}
.vu_tabs{
    width: 200px;
    height: 20px;
    font:0;
    padding:0;
}
.vu_li-tab{
    width: 50%;
    height: 100%;
    display:inline-block;
    text-align: center;
}
.vu_divTab{
    width: 200px;height: 300px;
}
/*列表来消息动画*/
#vu_accordion li .vu_link{position: relative;}
#vu_accordion li .vu_link.vu_animate{animation: ani 800ms;}
@keyframes ani{
    0% {opacity:1;}
   	70% {opacity:0;}
}
/*分组切换*/
.vu_m_lei{
	height: 30px;
	border-bottom: 1px solid #CCCCCC;
	margin: 0 10px;
	position: relative;
}
.vu_m_lei>li{
	float: left;
	width: 70px;
	text-align: center;
	padding-top:6px;
	height: 30px;
	cursor: pointer;
}
.vu_m-active{
	border-bottom: 1px solid #1a517d;
}
.vu_m-add{
	position: absolute;
	top:5px;
	right:10px;
}
.vu_m-add p{
	width: 18px;
	height: 18px;
	background-color: #dddddd;
	border-radius: 2px;
	text-align: center;
	line-height:16px;
	cursor: pointer;
}
.vu_m-add ul{
	position: absolute;
	top:20px;
	right:-20px;
	width: 80px;
	height: 46px;
	background-color: #ffffff;
	box-shadow: 0px 0px 2px 0px 
		rgba(42, 42, 42, 0.2);
	z-index: 2;
}
.vu_m-add ul li{
	padding-left: 10px;
	height:23px;
	line-height: 23px;
	cursor:pointer;
}
.vu_m-add ul .vu_fen-active{
	background-color: #40b1ec;
	color: #FFFFFF;
}
#vu_qun-fen>div{
	background: #FFFFFF;
	margin: 10px 5px 0 5px;
	text-align: left;
}
#vu_qun-fen>div p{
	color: #1a517d;
	padding:5px 0 5px 12px;
}
/*创建分组弹窗*/
.vu_fen_zu{
	width: 490px;
	height: 410px;
	background-color: #f6f6f6;
	box-shadow: 0px 0px 2px 0px 
		rgba(42, 42, 42, 0.2);
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	    z-index: 1000;
}
.vu_fen_zu_title{
	height: 30px;
	background-color: #5c6d9d;
}
.vu_fen_zu_title>span{font-size: 13px;color: #ffffff;display: inline-block;line-height: 30px;padding-left: 10px;}
.vu_fen_zu_title p{float:right;width: 30px;height: 30px;cursor: pointer;}
.vu_fen_zu_title p span{display: inline-block; width: 12px;height: 12px;background: url(../images/qie_tu.png) -4px -131px;text-align: center;margin-top: 7px;}
.vu_fenzu_left{width: 250px!important;height: 350px;float: left;border-right: 1px solid #e4e4e4;overflow: hidden;}
.vu_fenzu_left>ul{
	width: 270px;
	overflow-y: scroll;
	overflow-x:hidden;
	height: 350px;
}
.vu_fenzu_right{width: 240px;float: right;height: 350px;overflow:hidden;}
.vu_fenzu_left_input{width: 170px;height: 21px;border: solid 1px #e9e9e9;margin:10px 0 12px 30px;padding-left: 20px;background:#ffffff url(../images/qie_tu.png) -1px -82px no-repeat;}
.vu_fenzu_right_ul{width:240px;height: 315px;overflow-y: scroll;}
.vu_fenzu_right_ul li{height:45px;}
.vu_fenzu_right_ul li a{display: inline-block;margin:16px 0 0 10px;color: #666666;}
.vu_fenzu_right_ul li span{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/qie_tu.png) -4px 0 no-repeat;
	float: right;
	margin:20px 20px 0 0;
}
.vu_fenzu_right>p{
	color: #999999;
	padding:15px 0 5px 15px;
}
.vu_fenzu_footer,.vu_fenzu_name_footer{
	height: 30px;
	background-color: #e4e4e4;
}
.vu_fenzu_footer span,.vu_fenzu_footer button,.vu_fenzu_name_footer span ,.vu_fenzu_name_footer button{
	text-align: center;
	line-height:24px;
	margin-top:3px;
	cursor: pointer;
	width: 70px;
	height: 24px;
}
.vu_fenzu_footer button{
	background-color: #40b1ec;
	border: solid 1px #dddddd;
	color: #FFFFFF;
	margin-left: 300px;
}
.vu_fenzu_footer button:hover,.vu_fenzu_name_footer button:hover{
	background-color:#2ca0dc;
}
.vu_fenzu_footer span,.vu_fenzu_name_footer span{
	display: inline-block;	
	background-color: #f6f6f6;
	border: solid 1px #dddddd;
	color: #666666;
	margin-left:20px;
}
.vu_fenzu_footer span:hover,.vu_fenzu_name_footer span:hover{background-color: #eaeaea;}
.vu_fenzu_name{
	width: 330px;
	height: 152px;
	background-color: #f6f6f6;
	box-shadow: 0px 0px 2px 0px 
		rgba(42, 42, 42, 0.2);
	position: absolute;
	top:140px;
	left:60px;
	display: none;
}
.vu_fenzu_name .vu_fenzu_name_na{color: #666666;padding: 20px 0 5px 25px;}
.vu_fenzu_name input{
	width: 280px;
	height: 26px;
	background-color: #eeeeee;
	border: solid 1px #dddddd;
	margin: 0 0 25px 25px;
}
.vu_fenzu_name_footer button{
	background-color: #40b1ec;
	border: solid 1px #dddddd;
	color: #FFFFFF;
	margin-left:140px;
}
/*.fenzu_right_ul li>input{display: none;}*/
input[type='radio'],input[type='checkbox']{
	width: 20px;
	height: 20px;
	vertical-align:middle;
	opacity: 0;

}
.vu_input_style{
	background: url(../images/green.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.vu_radio_bg{
	background-position: -118px 0 ;
}
.vu_checkbox_bg{
	background-position:-120px 0;
	float: right;
	margin: 15px 10px 0 0;
}
.vu_radio_bg_check{
	background-position: -166px 0 ;
}
.vu_checkbox_bg_check{
	background-position: -168px 0;
}
.vu_submenu-name-div{display: inline-block;}
.vu_fenzu_left_ul>li{position: relative;}
.vu_fenzu_left_ul>li>.vu_check-all{
	width: 15px;
	height: 15px;
	border: solid 1px #999999;
	border-radius: 50%;
	position: absolute;
	top:5px;
	right:14px;
	text-align: center;
	line-height:10px;
	display: none;
}
.vu_fenzu_left_ul>li:hover .vu_check-all{
	display: block;
}
#vu_chat_app{width: 100%;height: 100%;}
.vu_xuan-fen,.vu_m-chat{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
}

